<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-text">
          <p>
            © 2021
            <a href="https://github.com/kaaaxcreators/Discord-MusicBot"
            >Discord Music Bot</a
            >. Made by
            <a href="https://github.com/kaaaxcreators">kaaaxcreators</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->