body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

var {
  color: var(--text);
}

.text-success {
  color: var(--text-success) !important;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.card {
  background-color: var(--card-background);
  color: var(--card-text);
}
