:root {
  --scrollbar-color: #909090;
  --scrollbar-hover: #606060;
  --background: var(--bs-gray-dark);
  --text: #fff;
  --card-text: #000;
  --card-background: var(--bs-gray);
  --text-secondary: #6c757d !important;
  --text-success: hsl(152, 69%, 50%) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--bs-white);
    --text: #000;
    --card-background: var(--bs-light);
    --text-success: #198754 !important;
    --text-secondary: var(--bs-light);
  }
}

body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

var {
  color: var(--text);
}

.text-success {
  color: var(--text-success) !important;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;

  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

.column {
  float: left;
  padding-left: 5px;
}

#usermenu::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-item,
.dropdown-menu {
  background-color: var(--text-secondary);
  color: var(--text);
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.list-group-item {
  background-color: var(--card-background);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  background-color: var(--card-background);
  color: var(--card-text);
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-hover);
  }
}
