:root {
  --scrollbar-color: #909090;
  --scrollbar-hover: #606060;
  --background: var(--bs-gray-dark);
  --text: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--bs-white-dark);
    --text: #000;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

.hero {
  margin-top: 5%;
}

.footer {
  background: #192027;
  text-align: center;
  padding: 32px 0;
}

.footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
}

.footer p a {
  color: #5867dd;
  text-decoration: none;
}

.footer p a:hover {
  color: #34bfa3;
}

.commands {
  margin-top: 100px;
}

.commands .title {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text);
}

.commands .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #0d6efd;
}

.commands .title::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #0d6efd;
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-hover);
  }
}
