body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

var {
  color: var(--text);
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

#servers img {
  border-radius: 50%;
}

#servers a {
  margin: 10px;
  color: transparent;
  padding: 0;
  width: auto;
  display: block;
}

.row {
  display: flex;
}

.grayscale {
  filter: grayscale(100%) blur(0.5px) opacity(50%);
}
