:root {
  --scrollbar-color: #909090;
  --scrollbar-hover: #606060;
}

body {
  background: var(--bs-gray-dark);
  color: #fff;
  overflow-x: hidden;
}

.card {
  color: black;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;

  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#song-info span {
  color: #5867dd;
  text-decoration: none;
  cursor: pointer;
}

#song-info span:hover {
  color: #34bfa3;
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-hover);
  }
}
