:root {
  --scrollbar-color: #909090;
  --scrollbar-hover: #606060;
}

body {
  background: var(--bs-gray-dark);
  color: #fff;
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
    background-color: var(--scrollbar-hover);
  }
}