body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

var {
  color: var(--text);
}

.text-success {
  color: var(--text-success) !important;
}

.text-danger {
  color: var(--text-danger) !important;
}

.card {
  background-color: var(--card-background);
  color: var(--card-text);
}

.toast-header {
  color: var(--card-text);
}

.toast {
  background: var(--background);
}

.needsqueue {
  display: none;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.modal-content,
.form-control,
.form-select {
  color: var(--text) !important;
  background-color: var(--background) !important;
}

#song-info span,
#song-info a {
  color: #5867dd;
  text-decoration: none;
  cursor: pointer;
}

#song-info span:hover,
#song-info a:hover {
  color: #34bfa3;
}
